
/***********************/
/*#site fonts import  */
/***********************/


@font-face {

    font-family: ArJozor;
    src: url('../fonts/AraJozoor-Regular.ttf');
}


@font-face {

    font-family: ArJozor-Flat;
    src: url('../fonts/JF-Flat-regular.ttf');

}

@font-face {

    font-family: ArHelve;
    src: url('../fonts/HelveticaNeueLT-W20%2045-Light.ttf');

    font-weight: light;
    font-style: normal;
}


@font-face {

    font-family: ArHelve;
    src: url('../fonts/HelveticaNeueLT%20Arabic%2055%20Roman.ttf');

    font-weight: normal;
    font-style: normal;

}

@font-face {

    font-family: ArHelve;
    src: url('../fonts/HelveticaNeueLT%20Arabic%2055%20Roman.ttf');

    font-weight: normal;
    font-style: normal;

}







* {
    padding: 0;
    margin: 0;
}

.interview-details {

    position: relative;

    text-align: center;


    height: 400px;
    padding: 70px 0;


}

.interview-date p {
	color: hsl(0,0%,55%);


    font-family: ArJozor;
    font-size: 80%;

    text-align: left;

}

.person-details {

    display: inline-block;
    margin: 30px auto 50px;



    text-align: right;
    font-family: ArJozor;
}


.person-details h3 {

    margin-bottom: 0;

    color: #4C4C4C;
    font-family: inherit;

}

.person-details p{

    position: relative;
    right: 10px;

    color: #87D37C;



}

.person-quote:before {
    content: '"';
    display: inline;
}

.person-quote:after {
    content: '"';

}

.person-quote {

    width: 70%;
    margin: 0 auto;

    text-align: center;
    font-family: ArJozor-Flat;




}

.separator {

    width: 70%;
    height: 1px;
    margin: 0 auto;

    background-color: hsl(0,0%,95%);


}


.interview-container {

    background-color: white;
    width: 100%;
    height: 500%;

    overflow: hidden;
    transition: background-color 0.5s, width 1s, height 1s;

}
.interview-container.animate {
    background-color: hsl(0,0%,98%);
    width: 20%;
    height: 50%;
}



.interview-image-container {

    height: 500px;

    background-size: auto 400px;
    background-position: 50% 100%;
    background-repeat: no-repeat;


    transition: background-size 1s, background-position 1s, transform 0.5s;

}

.interview-container.animate .interview-image-container{




    background-size: auto 100px;
    background-position: 50% 50%;
}





/***********************/
/*#site interview content page  */
/***********************/





.social [class*="fa fa-"] {

    border-color: transparent;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: auto 2px;
    width: 20px;
    font-size: 10px;
    text-align: center;
}



